/*********************Tag Selectors****************************/
.grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
  justify-content: space-around;
  align-content: space-around;
}

body {
  background-color: #fff8c1;
}

h1 {
  color: #c05555;
  font-family: Verdana, Arial, sans-serif;
  text-shadow: 5px 5px 5px #ffc85c;
}

h1:hover {
  color: #ffc85c;
}

p {
  color: #c05555;
  font-family: sans-serif;
  letter-spacing: 5px;
}

img {
border-radius: 100%
}

/********************Pseudo Class Selectors****************************/
img:hover {
  background-color: #ffc85c !important;
}

/********************Class Selectors****************************/
.bacon-div {
  background-color: #c05555;
    color: #ffc85c;
  height: 200px;
grid-column: 1 / span 3;

}

.streak-div {
  background-color: #ffc85c;
  color: #c05555;
  width: 100px;
  height: 200px;

}

.green-div {
  background-color: #59886b;
  color: #ffc85c;
  width: 200px;
  height: 200px;

}


.form-div {
  background-color: #c05555;
    color: #ffc85c;
  width: 1000px;
  height: 100px;

  padding: 20px;
margin: 10px;
}

.text-div{

  width: 1000px;
  height: 100px;

}

.bacon {
  background-color: #ffc85c;
}

.back-bacon {
  color: #59886b;
}

.banana {
  background-color: #c05555;
}

/********************ID Selectors****************************/
/* Demonstrates how more specific styling is prioritised */
#bacon {
  background-color: #59886b;
}
